body {
  display: grid;
  align-items: start;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}

header {
  grid-area: 1 / 1 / 1 / 3;
}

aside {
  display: inline-flex;
  flex: 0 0 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
  width: 15rem;
  min-width: fit-content;
  grid-area: 2 / 1 / 3 / 1;
}

section {
  padding: 2rem;
  grid-area: 2 / 2 / 3 / 3;
  overflow: auto;
  height: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

ul {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
}

.btn-list {
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-align: start;
  padding-inline: 8px;
}

.btn-list:hover {
  background-color: var(--primary-pink-subtle);
}

#add-btns {
  display: inline-flex;
  gap: 0.5rem;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > p.xl + p {
  margin-top: -1.5rem;
}

.categories {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 0.5rem;
}

.row {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.form__question {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid var(--primary-pink-light);
  margin-top: 1rem;
  padding-bottom: 1rem;
}

legend {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.form__options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__options label {
  margin-bottom: 0.25rem;
}

.form__row {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 8px;
}

.btn-icon {
  position: absolute;
  top: -32px;
  right: 0;
}

li li svg {
  margin-right: 0.25rem;
}

.btn-sm {
  font-size: 0.9rem;
  padding: 4px 16px;
}

.list__question {
  position: static !important;
  padding: 1rem;
}

.list__footer {
  padding-top: 0.5rem;
}

.list__question .btn-icon {
  position: static !important;
}

.list__question:not(:last-child) {
  border-bottom: 2px solid var(--primary-pink-light);
}

dialog {
  color: var(--primary-white);
  background-color: rgb(106, 24, 54);
  border: none;
  border-radius: 8px;
  padding: 2rem;
  max-height: 90%;
  overflow-y: auto;
  margin: auto;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.form__category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  border-bottom: 1px solid var(--primary-pink-light);
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.list__categories {
  position: static !important;
  padding: 1rem;
}

.list__categories .btn-icon {
  position: static !important;
}

.list__categories:not(:last-child) {
  border-bottom: 2px solid var(--primary-pink-light);
}

p {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-block: 1rem;
  align-items: center;
  width: 100%;
  place-content: center;
  position: fixed;
  bottom: -100%;
  animation: showMessage 4s ease-in-out;
}

.message p {
  padding: 0;
}

@keyframes showMessage {
  0% {
    bottom: -100%;
  }

  10% {
    bottom: 0;
  }

  90% {
    bottom: 0;
  }

  100% {
    bottom: -100%;
  }
}

.msg-success {
  background-color: var(--quiz-correct);
}

.msg-error {
  background-color: var(--quiz-incorrect);
}
